.confirm__content {
    padding: 6.58rem 0 0;

    @media (max-width: 767px) {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}

.conf_ttl {
    text-align: center;
    color: $pink;
    font-size: 3.125rem;
    margin-bottom: 1.4375rem;
}

.conf {
    width: 100%;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 3.785rem;

    &__row {
        font-size: 1.25rem;

        @media (max-width: 767px) {
            font-size: 1.0rem;
        }
    }

    &__th, &__td {
        padding: 2rem 0;
        border-bottom: 1px solid #ccc;
        vertical-align: middle;
    }

    &__th {
        color: #12a1aa;

        /*   padding-left: 2.4375rem; */
        padding-right: 1.9375rem;
        text-align: right;
        width: 100px;
        white-space: nowrap;

        @media (max-width: 767px) {
            width: 20%;
            padding-right: 5%;
        }
    }

    &__td {
        width: 560px;

        @media (max-width: 767px) {
            width: 70%;
        }
    }

    &__row02 {
        width: 50%;
        padding: 2rem 0;
        border-bottom: 1px solid #ccc;

        &__th {
            color: #12a1aa;
            margin-right: 1.2rem;
        }
    }
}

.kana {
    color: #12a1aa;
    display: inline-block;
    margin: 0 1.54rem 0 5.78rem;

    @media (max-width: 767px) {
        margin-left: 2.78rem;
    }
}

.CfmItem {
    display: inline-block;
}
